<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Tracks <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Playlists</a></li>
    <li><a href="#">Albums</a></li>
    <li><a href="#">Artists</a></li>
  </ul>
</div>