    <button type="button" class="tag">
      <form data-tag-id="<%= tag.id %>" class="remove-tag-form" action="/users/<%= current_user.id %>/tags/<%= tag.id %>/delete" method="post">
        <input name="_method" type="hidden" value="delete">
        <input type="submit" value="&#10006" class="remove-tag">
      </form>
      <%= tag.name %>
    </button>