<!-- Standard player -->
<!--
<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A2TpxZ7JUBn3uw46aR7qd6V" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
 -->

<!-- Multi-track player -->
<iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe" frameborder="0" allowtransparency="true"></iframe>

<p></p>

<a href='/login'>Login via Spotify</a>

