<!-- Standard player -->
<!--
<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A2TpxZ7JUBn3uw46aR7qd6V" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
 -->

<!-- Multi-track player -->
<!-- <iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe" frameborder="0" allowtransparency="true"></iframe> -->

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">#FreeTheTag</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">#98problems.</h1>
            <p class="lead">Cut, sort, filter.  Playlists on the fly.  Music organization for the future.  </p>
            <p class="lead">
              <a href="<%= spotify_login_url %>" class="btn btn-lg btn-default">Sign In with Spotify <i class="fa fa-spotify"></i></a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>A <a href="http://www.twitter.com/berkjon">@berkjon</a> production.</p>
            </div>
          </div>

        </div>

      </div>

    </div>